APP_NAME=DagangMaker
APP_ENV=local
APP_PORT=8000
APP_DEBUG=true

DB_CONNECTION=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=dagangmaker
DB_USERNAME=muhfaiizr
DB_PASSWORD=admin
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta
